$main-color: #1755e7;
$secondary-color: #164dcc;
$light-main-color: #1469f1;

$cta-color: #00ffaa;
$cta-color-hover: #0fe29c;

$light-gray-e: #eee;
$light-gray-d: #ddd;
$light-gray-c: #ccc;

$dark-grey-1: #111;
$dark-grey-2: #222;
$dark-grey-3: #333;


$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(251, 255, 4, 0.75));

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, #1469f1, rgb(42, 10, 184));
$light-blue-gradient-solid: radial-gradient(circle at top left, rgb(0, 212, 255) 0%, rgb(0, 78, 255) 75%);

